*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-familily: -apple-sysftem, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Canarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  header{
    height: 25vh;
    background-color: #2CB3F3;
  }
  .texto1{
    text-align: center;
    padding: 4rem;
    font-size: 50px;
  }
  .paragrafo{
    font-size: 30px;
  }
  body {
    width: 1400px;
    background: #2CB3F3;
    height: 1000px;
  }
  .cabeca {
    position: absolute;
    background-color: white;
    width: 880px;
    height: 616px;
    top: 350px;
    left: 220px;
    border-radius: 100px 100px 0 0;
  }
  .rosto {
    position: absolute;
    background-color: #FFE1C9;
    width: 692px;
    height: 487px;
    top: 420px;
    left: 310px;
    border-radius: 55% 55% 55% 55%;
  }
  .olho1 {
    position: absolute;
    background-color: black;
    width: 55.7px;
    height: 55.7px;
    top: 550px;
    left: 500px;
    border-radius: 50%;
  }
  .olho2 {
    position: absolute;
    background-color: black;
    width: 55.7px;
    height: 55.7px;
    top: 550px;
    left: 750px;
    border-radius: 50%;
  }
  form input {
    display: block;
    width:350px;
    height: 55px;
    position: absolute;
    border: 3px black solid;
    border-radiuns: 5px;
  }
  .email {
    top: 690px;
    left: 480px;
    font-size: 25px;
  }
  .senha {
    top: 745px;
    left: 480px;
    font-size: 25px;
  }
  .entrar {
    position: absolute;
    background-color: #55a603;
    width: 200px;
    height: 70px;
    top: 1010px;
    left: 550px;
    border-radius: 5px;
  }
  .nome {
    position: absolute;
    top: 1025px;
    left: 605px;
    font-size: 25px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
  }
  button {
    cursor: pointer;
  }
